<!-- src/app/header/header.component.html -->
<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()"><span></span></a>
    <h1 class="header-page-siteTitle">
      <a routerLink="/">Man 100</a>
    </h1>
	
	<div class="header-page-authStatus">
     
     
        <a *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a>
      
          
        <a *ngIf="auth.loggedIn" (click)="auth.logout()">Log Out</a>
      
     
    </div>
	
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
     
	  <li>
        <a
         
          routerLink="event-create"
          routerLinkActive="active"
		  [routerLinkActiveOptions]="{ exact: true }"> Add Counselor</a>
      </li>
	   <li>
        <a
         
          routerLink="counselors"
          routerLinkActive="active"
		  [routerLinkActiveOptions]="{ exact: true }"> View Counselors</a>
      </li>
	  <li>
        <a
         
          routerLink="calendar"
          routerLinkActive="active"
		  [routerLinkActiveOptions]="{ exact: true }"> Calendar</a>
      </li>
	  <li>
        <a
         
          routerLink="search-clients"
          routerLinkActive="active"
		  [routerLinkActiveOptions]="{ exact: true }"> Client History</a>
      </li>
    </ul>
  </nav>
</header>