
<br><br>
<a href="/search-clients"><-- Back</a>
<br>
<br>
<br>
<div align="center">Client:  {{client}}</div>
<br>

<div align="center">
<table border="1" cellpadding="2" cellspacing="4">
<tr><td>Counselor on Call</td><td>Message</td><td>Message Date</td><td>Sender</td></tr>

<ng-container *ngFor="let item of test | paginate: { itemsPerPage: 10, currentPage: p}">
	    <tr><td>{{item.Counselor}}</td><td>{{item.Message}}</td><td>{{item.MessageDate}}</td><td>{{item.Sender}}</td>  </tr>
</ng-container>	
 
</table>    

<br>	
	  <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
	
